.container {
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  

.footer-bg {
    background-color: #00193b;
  }
  
  .footer {
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 20px;
  }
  
  .footer h3 {
    margin-bottom: 32px;
  }
  
  .footer-contato ul {
    margin-bottom: 32px;
  }
  
  .footer li {
    margin-bottom: 16px;
  }
  
  .footer-contato li:nth-child(1)::after,
  .footer-contato li:nth-child(3)::after {
    content: "";
    display: block;
    max-width: 360px;
    background: #031D3F;
    height: 2px;
    margin-top: 16px;
  }
  
  .footer-redes {
    display: flex;
    gap: 15px;
  }
  
  .footer-informacoes ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
  }
  
  .footer a:hover {
    color: var(--cor-0);
  }
  
  .footer-copy {
    grid-column: 1 / -1;
    margin-top: 40px;
  }
  
  @media (max-width: 800px) {
    .footer > img {
      display: none;
    }
    .footer {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 600px) {
    .footer {
      grid-template-columns: 1fr;
      gap: 60px;
    }
    .footer-copy {
      margin-top: 0px;
      font-size: 1rem;
    }

    .footer-informacoes ul {
      padding-left: 0px;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 10px;
    }

    .footer-informacoes img {
      width: 45px;
    }
  }
  